# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/
**/node_modules/

# Build output
build/
dist/
public/

# Environment variables
.env
.env.local
.env.*.local

# Mac and Windows system files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.iml

# Temporary files
*.tmp
*.swp
*.bak

# Git-specific files
*.lock
