/* General body and page styles */
.log-container {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for the login form */
.login {
    background-color: #ffffff; 
    padding: 40px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px; 
}

/* Heading style */
h2 {
    text-align: center;
    color: #2C3E50;
    margin-bottom: 20px;
}

/* Error message style */
.log-p {
    color: red; 
    text-align: center;
}

/* Form field container */
.log-input {
    margin-bottom: 15px;
}

/* Label style */
label {
    display: block;
    color: #2C3E50;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Input field style */
.log-input[type='text'], .log-input[type='password'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    box-sizing: border-box; 
}

/* Input focus effect */
.log-input[type='text']:focus, .log-input[type='password']:focus {
    border-color: #2980B9; 
    outline: none; 
}

/* Button style */
.log-btn {
    width: 100%;
    padding: 12px;
    background-color: #2980B9;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

/* Button hover effect */
.log-btn:hover {
    background-color: #3498db; 
}
.log-span{
    margin-left: 10px;
}
.log-span{
    text-align: center;
}



/* Responsive design for smaller screens */
@media (max-width: 600px) {
    div {
        padding: 20px;
        max-width: 90%;
    }

    h2 {
        font-size: 1.5rem;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}
